:root {
  --primary-color: #6c63ff;
}

body {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;

  .anime {
    width: 100%;
    max-width: 500px;
    border: 1px solid var(--primary-color);
    padding: 1.5rem;
    align-self: stretch;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    transition: transform 0.3s;

    &:focus {
      transform: scale(0.9);
    }
    .animation {
      width: 100%;
    }
    .plus {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var(--primary-color);
      font-size: 2.8rem;
      opacity: 0;
    }

    &:hover .plus {
      opacity: 1;
    }
  }
}
