:root {
  --primary-color: #6c63ff;
}

body {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  place-items: center;
  grid-gap: 5px;

  .modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: scale(0);
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: transform 0.3s;

    .redo {
      position: absolute;
      top: 20px;
      left: 15px;
      border: 0 none;
      color: #fff;
      background-color: transparent;
      cursor: pointer;
      font-size: 2.4rem;
      padding: 0 10px;
    }

    .frame {
      width: 95%;
      max-width: 700px;
      max-height: 90vh;
      padding: 30px;
      position: fixed;
      z-index: 10;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;

      * {
        max-height: 80vh;
      }
    }
  }

  .picker {
    position: fixed;
    z-index: 1;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    .label {
      font-size: 0.47rem;
      font-weight: bold;
      text-transform: uppercase;
      font-family: Roboto, sans-serif;
    }

    .color {
      border: 0 none;
      width: 60px;
      height: 30px;
      cursor: pointer;
    }
  }

  .anime {
    width: 100%;
    max-width: 500px;
    border: 1px solid var(--primary-color);
    padding: 1.5rem;
    align-self: stretch;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    transition: transform 0.3s;

    &:focus,
    &:hover {
      transform: scale(0.95);
    }
    .animation {
      width: 100%;
      pointer-events: none;
    }
  }
}
