:root {
  --primary-color: #6c63ff;
}

body {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  place-items: center;
  grid-gap: 5px;

  .picker {
    position: fixed;
    z-index: 1;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    .label {
      font-size: 0.47rem;
      font-weight: bold;
      text-transform: uppercase;
      font-family: Roboto, sans-serif;
    }

    .color {
      border: 0 none;
      width: 60px;
      height: 30px;
      cursor: pointer;
    }
  }

  .anime {
    width: 100%;
    max-width: 500px;
    border: 1px solid var(--primary-color);
    padding: 1.5rem;
    align-self: stretch;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    transition: transform 0.3s;

    &:focus,
    &:hover {
      transform: scale(0.95);
    }
    .animation {
      width: 100%;
    }
    .plus {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var(--primary-color);
      font-size: 2.8rem;
      opacity: 0;
    }

    &:hover .plus {
      opacity: 1;
    }
  }
}
